.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content {
    display: inline-block;
    width: 90vw;
    max-width: 640px;
}
.card {
    margin: 5px;
    min-height: auto;
}
.image {
    width: 100%;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }
.bottom {
    margin-bottom: 13px;
    line-height: 12px;
    min-height: 20px;
  }
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
.menu {
    text-align: left;
}
.fa-2x {
    margin-right: 10px;
}
.icon {
    color: slateblue;
}
/* iTyped.js */
.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}